.sideBar {
    z-index: 9;
    position: fixed;
    top: 75px;
    left: 0%;
    height: 100vh;
    font-weight: bold;
}

a:hover {
    background-color: #E5DAF8;
    transition: 100ms;
}

h4 {
    padding: 0;
    margin: 50px 50px;
}