.active {
    font-weight: bolder;
}

.nav-link {
    color: black;
}

.navbar {
    width: 100vw;
    position: fixed;
    left: 0%;
    top: 0%;
    z-index: 1;
    background-color: #E0EBFB;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}