<div class="boxForm">
  <div class="form">
      <div class="col-4 titleForm">
          <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <h2 *ngIf="action.name=='add'; else action_update" style="color: #0D6EFD;">
                Add new customer
            </h2>
            <ng-template #action_update>
              <!-- <div id="profileImage" [style.background-image]="'url('+ customerInformation.profileImage +')'"></div> -->
              <h2 style="color: #0D6EFD;">Update Customer Information</h2>
              <!-- </div>
              <img id="profileImage" [src]="customerInformation.profileImage" alt="" srcset=""> -->
            </ng-template>
          </div>
      </div>
      <div class="col-8 formInput px-2">
        <form [formGroup]="reactiveForm">
          <h3 class="text-center my-2">Basic information</h3>
          <div class="mb-3">
            <label for="inputName" class="form-label">Input name</label>
            <input formControlName="name" type="text" class="form-control" id="inputName" name="inputName">
            <div *ngIf="reactiveForm.get('name').invalid" class="form-text text-danger">The input name field is required</div>
          </div>
          <div class="mb-3">
            <label for="inputGender" class="form-label">Input gender</label>
            <select class="form-select" style="width: 100%;" id="inputGender" name="gender" formControlName="gender">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
            <div *ngIf="reactiveForm.get('gender').invalid" class="form-text text-danger">The input gender field is required</div>
          </div>
          <div class="row">
              <div class="col mb-3">
              <label for="inputBirthPlace" class="form-label">Input birth place</label>
              <input  formControlName="birthPlace" type="text" class="form-control" id="inputBirthPlace" name="inputBirthPlace">
            <div *ngIf="reactiveForm.get('birthPlace').invalid" class="form-text text-danger">The input birth place field is required</div>
            </div>
            <div class="col mb-3">
              <label for="inputType" class="form-label">Input date of birth</label>
              <input formControlName="dateOfBirth" type="date" class="form-control" id="inputType" name="inputType">
              <div *ngIf="reactiveForm.get('dateOfBirth').invalid" class="form-text text-danger">The input date of birth field is required</div>
            </div>
          </div>
          
          <div class="mb-3">
              <label for="inputEmail" class="form-label">Input email</label>
              <input  formControlName="email" type="text" class="form-control" id="inputEmail" name="inputEmail">
              <div *ngIf="reactiveForm.get('email').invalid" class="form-text text-danger">The input email field is required and according to the format</div>
            </div>

            <div class="mb-3">
              <label for="inputImage" class="form-label">Input url profile image</label>
              <input  formControlName="profileImage" type="text" class="form-control" id="inputImage" name="inputImage">
              <div *ngIf="reactiveForm.get('profileImage').invalid" class="form-text text-danger">The input url profile image field is required</div>
            </div>
            
            <div class="mb-3">
              <label for="inputMotherName" class="form-label">Input mother name</label>
              <input  formControlName="motherName" type="text" class="form-control" id="inputMotherName" name="inputMotherName">
              <div *ngIf="reactiveForm.get('motherName').invalid" class="form-text text-danger">The input mother name field is required</div>
            </div>

            <div class="formAddress" formGroupName="address">

              <h3 class="text-center my-2">Address Information</h3>
              <div class="mb-3">
                    <label for="inputFullAddress" class="form-label">Input full address</label>
                    <input  formControlName="fullAddress" type="text" class="form-control" id="inputFullAddress" name="inputFullAddress">
                    <div *ngIf="reactiveForm.get('address.fullAddress').invalid" class="form-text text-danger">The input full address field is required</div>
                  </div>
              <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="inputCity" class="form-label">Input city</label>
                        <input  formControlName="city" type="text" class="form-control" id="inputCity" name="inputCity">
                        <div *ngIf="reactiveForm.get('address.city').invalid" class="form-text text-danger">The input city field is required</div>
                      </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="inputZipCode" class="form-label">Input zip code</label>
                        <input  formControlName="zipCode" type="text" class="form-control" id="inputZipCode" name="inputZipCode">
                        <div *ngIf="reactiveForm.get('address.zipCode').invalid" class="form-text text-danger">The input zip code field is required</div>
                      </div>
                </div>
              </div>
            </div>
            <div class="row mx-5">
              <div class="col">
                  <button (click)="cancelForm()" type="submit" class="btn btn-outline-danger w-100 d-flex justify-content-center">Cancel</button>
              </div>
              <div class="col">
                  <button *ngIf="action.name == 'add'; else actionUpdate" (click)="submitForm($event)" [disabled]="!reactiveForm.valid" type="submit" class="btn btn-outline-primary w-100 d-flex justify-content-center">Submit</button>
                  <ng-template #actionUpdate>
                    <button (click)="saveForm($event)" [disabled]="!reactiveForm.valid" type="submit" class="btn btn-outline-primary w-100 d-flex justify-content-center">Save</button>
                  </ng-template>
              </div>
            </div>
        </form>
      </div>
  </div>
</div>
