<div class="boxDetailVideo p-4 rounded-2">
    <iframe width="100%" height="400" src="https://www.youtube.com/embed/t89GgkuTEmo?si=Rb6MgESqrzaTWy0P" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <hr>
    <!-- <div class="row d-flex align-items-center">
        <div class="col-1">
            <img width="100%" class="rounded" src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?cs=srgb&dl=pexels-simon-robben-614810.jpg&fm=jpg" alt="Profile Photo">
        </div>
        <div class="col-4">
            <h4>Alfonso Davies</h4>
        </div>
    </div>
    
    <hr> -->
    <h3 class="text-center">
        Lorem ipsum dolor sit.
    </h3>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus magni, praesentium cum unde maxime vitae expedita nam in voluptates, quam, laborum autem perferendis dolor. Laudantium repellat laborum dolore quia dolorem?
    </p>
</div>