.listCard {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 5px;
    border-radius: 15px;
    padding: 1px;
    border: solid 1px #93ff9f;
    background-color: rgb(249, 249, 249);
}

.card:hover {
    margin: 0px;
    padding: 6px;
    border: solid 1px #71f280;
    background-color: rgb(243, 242, 242);
    transition: 100ms;
}

.image {
    border-radius: 14px;
}

h6, p {
    margin: 5px 0px;
    padding: 0;
}

.column {
    padding: 0;
    width: 180px;
}