<div id="dashboard">
    <div class="boxDashboard" >
        <div class="col-12 col-md-6" style="display: flex; flex-direction: row-reverse;">
            <img style="width: 100%;" src="https://img.freepik.com/free-photo/3d-render-house-bills-payment-online-invoice_107791-16723.jpg?t=st=1709263068~exp=1709266668~hmac=ad87da18be74d747371947e10df209e406282f0448bc3196dc9ea5595010aac8&w=826" alt="Bank Vector">
        </div>
        <div class="col-12 col-md-6">
            <h3 style="width: 70%; font-weight: bold; color: #0D6EFD;">Welcome to Platform for Admin Bank Plecit Indonesia</h3>
            <br>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi dolore libero modi consectetur quo nisi doloremque cupiditate voluptatibus quod soluta vero praesentium dignissimos quia ipsam tempora illum, quam aspernatur recusandae, porro quidem consequatur. Laboriosam velit ipsam eius nostrum aut eos ab repudiandae ipsa, nesciunt similique, voluptate, sint pariatur hic excepturi.</p>
            <br>
            <div class="row my-1">
                <div class="col">
                    <button (click)="addNewCustomer()" type="button" class="w-100 btn btn-outline-primary">ADD NEW CUSTOMER</button>
                </div>
                <div class="col">
                    <button (click)="viewListCustomer()" type="button" class="w-100 btn btn-outline-primary">LIST CUSTOMER</button>
                </div>
            </div>
        </div>
        
    </div>
</div>