<div class="boxDetailImage p-4 rounded-2">
    <div class="row">
        <div class="col-8">
            <img src="https://images.unsplash.com/photo-1541110729715-84eeda8be2be?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bGFuZHNjYXBlJTIwdmlld3xlbnwwfHwwfHx8MA%3D%3D" alt="Detail Image" width="100%">
        </div>
        <div class="col-4">
            <div class="row d-flex align-items-center">
                <div class="col-3">
                    <img width="100%" class="rounded" src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?cs=srgb&dl=pexels-simon-robben-614810.jpg&fm=jpg" alt="Profile Photo">
                </div>
                <div class="col">
                    <h4>Alfonso Davies</h4>
                </div>
            </div>
            
            <hr>
            <h3>
                Sony a6700 | Cinematic Landscape Footage
            </h3>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus magni, praesentium cum unde maxime vitae expedita nam in voluptates, quam, laborum autem perferendis dolor. Laudantium repellat laborum dolore quia dolorem?
            </p>
        </div>
    </div>    
</div>