<div class="row d-flex justify-content-between">
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <img src="https://asset.kompas.com/crops/achHXoFeMlgAKi65IVD0-oTBNZU=/0x0:1000x667/750x500/data/photo/2020/03/11/5e68ab31c728e.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sleman</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/10/Yogyakarta_Indonesia_Tugu-Yogyakarta-02.jpg/1200px-Yogyakarta_Indonesia_Tugu-Yogyakarta-02.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Kota Jogja</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <img src="https://asset.kompas.com/crops/JgW6COzaeybi3GgugkUgVDLfzIU=/0x0:640x427/750x500/data/photo/2021/11/29/61a3d93b2d1e4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bantul</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>