<div class="boxForm">
    <div class="form">
        <h3 *ngIf="editProduct; else notEdit" class="text-center">
            Edit your product information!!
        </h3>
        <ng-template #notEdit>
            <h3 class="text-center">
                Add your new product information!!
            </h3>
        </ng-template>
        <br>
        <form>
            <div class="mb-3">
              <label for="inputName" class="form-label">Input product name</label>
              <input [(ngModel)]="nameInputed" type="text" class="form-control" id="inputName" name="inputName">
            </div>
            <div class="mb-3">
                <label for="inputDesc" class="form-label">Input product description</label>
                <input [(ngModel)]="descInputed" type="text" class="form-control" id="inputDesc" name="inputDesc">
              </div>
              
              <div class="mb-3">
                <label for="inputType" class="form-label">Input product type</label>
                <input [(ngModel)]="typeInputed" type="text" class="form-control" id="inputType" name="inputType">
              </div>
              <div class="mb-3">
                <label for="inputImage" class="form-label">Input product image url</label>
                <input [(ngModel)]="imageInputed" type="text" class="form-control" id="inputImage" name="inputImage">
              </div>
              <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="inputPrice" class="form-label">Input product price</label>
                        <input [(ngModel)]="priceInputed" type="number" class="form-control" id="inputPrice" name="inputPrice">
                      </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="inputStock" class="form-label">Input product stock</label>
                        <input [(ngModel)]="stockInputed" type="number" class="form-control" id="inputStock" name="inputStock">
                      </div>
                </div>
              </div>
              <div class="row mx-5">
                <div class="col">
                    <button (click)="cancelForm()" type="submit" class="btn btn-outline-danger w-100 d-flex justify-content-center">Cancel</button>
                </div>
                <div class="col">
                    <button *ngIf="editProduct; else notedit" (click)="saveUpdate()" type="submit" class="btn btn-outline-primary w-100 d-flex justify-content-center">Save</button>
                    <ng-template #notedit>
                        <button (click)="addingNewProduct()" type="submit" class="btn btn-outline-primary w-100 d-flex justify-content-center">Submit</button>
                    </ng-template>
                </div>
              </div>
          </form>
    </div>
</div>